Resources/schema/custom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        targetNamespace="urn:jms:translation"
        xml:lang="en">
  <xsd:element name="reference-file" type="ReferenceFileType" />

  <xsd:complexType name="ReferenceFileType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="line" type="xsd:string" use="optional" />
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
</xsd:schema>
